@import "color";
@import "template";
@import "typography";

.step-header {
  height: 4px;

  display: flex;
  width: 100%;

  @include horizontalGap(16px);

  @include mediaMobile() {
    margin-bottom: 24px;
  }

  @include mediaPC() {
    top: 40px;
    position: absolute;
  }

  &__step {
    flex-grow: 1;
    background-color: $basic-150;

    &_active {
      background-color: $purple;
    }
  }
}

.header {
  margin-bottom: 40px;

  &__step {
    color: $basic-400;
    margin-bottom: 4px;
  }

  &__title {
    margin-bottom: 8px;
    @include heading-1-medium;
    color: $basic-1000;
  }
}
