<form [formGroup]="user" (ngSubmit)="onSubmit()">
  <div class="fields">
    <label class="field">
      <p>Email</p>
      <input formControlName="email" type="email" />
    </label>

    <password-input formControlName="password"></password-input>
  </div>

  <button class="forgot-password button_purple_out" (click)="forgotPassword()">
    Forgot Password?
  </button>
  <button class="button_purple" type="submit" [disabled]="!user.valid">
    Log in
  </button>
</form>

<a routerLink="/sign-up">Don't have account? Sign up!</a>
