<header class="header">
  <h1 class="title">Log in</h1>
  <div>New user? <a class="link" [routerLink]="link.signUp">Sign up</a></div>
</header>

<form class="form" [formGroup]="user" (ngSubmit)="onSubmit()">
  <div class="fields fieldset">
    <email-input formControlName="email"></email-input>
    <password-input formControlName="password"></password-input>
  </div>

  <a [routerLink]="link.forgotPassword" class="forgot-password link">
    Forgot Password?
  </a>
  <button class="button_purple" type="submit" [disabled]="!user.valid">
    Log in
  </button>
</form>
