@import "typography";
@import "color";

.header {
  margin-bottom: 40px;

  .title {
    margin-bottom: 8px;
    @include heading-1-medium;
    color: $basic-1000;
  }
}
.email {
  margin-bottom: 40px;
}
