@import 'template';

:host.ng-invalid.ng-touched input {
  border-color: red;
}

.password {
  position: relative;

  input {
    padding-right: 40px;
  }

  &__icon {
    display: block;
    @include rightVerticalCenter(14px);
  }
}
