@import "template";

:host {
  display: block;
}

.password {
  position: relative;

  &__input {
    padding-right: 40px;
  }

  &__icon {
    display: block;
    cursor: pointer;
    font-size: 18px;
    @include rightVerticalCenter(14px);
  }
}
