$dark-coral: rgb(255, 125, 125);
$light-coral: rgb(255, 177, 177);

$white: #fff;

$basic-50: #fcfcfd;
$basic-150: #ebeff2;
$basic-250: #d8dde3;
$basic-400: #c3cad2;
$basic-750: #a0adba;
$basic-800: #8896a4;
$basic-900: #5f6c79;
$basic-1000: #39434d;

$purple: #6946f4;

$green-500: #52c41a;
