@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin circle($size) {
  @include square($size);
  border-radius: 50%;
}

@mixin verticalCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin rightVerticalCenter($right) {
  position: absolute;
  top: 50%;
  right: $right;
  transform: translateY(-50%);
}

@mixin leftVerticalCenter($left) {
  position: absolute;
  top: 50%;
  left: $left;
  transform: translateY(-50%);
}

@mixin verticalGap($gap) {
  & > *:not(:last-child) {
    margin-bottom: $gap;
  }
}

@mixin horizontalGap($gap) {
  & > *:not(:last-child) {
    margin-right: $gap;
  }
}

@mixin media($phone: true, $size: 800) {
  @if $phone {
    @media only screen and (max-width:#{$size}px) {
      @content;
    }
  } @else {
    @media only screen and (min-width: #{$size + 1}px) {
      @content;
    }
  }
}
