/* You can add global styles to this file, and also import other style files */

@import "reset";
@import "global";
@import "color";
@import "typography";
@import "icomoon";

body {
  height: 100vh;
  display: grid;
  font-family: "Inter";
  color: $basic-1000;
  @include caption-1-normal;
}

router-outlet {
  display: none;
}

*,
::before,
::after {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

* {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
